In [6]:
import pandas as pd
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.neighbors import NearestNeighbors, KNeighborsClassifier
from sklearn.linear_model import LinearRegression, Lasso, Ridge, LassoCV, BayesianRidge
import matplotlib.pylab as plt

In [11]:
Loan = pd.read_excel(r'D:\Business Analytics\Capstone Project\Datasets\Loan Data.xlsx')

In [12]:
Loan.head()

,Index,Employed,Bank Balance,Annual Salary,Defaulted?,Gender,Age,Marital Status,Dependents,Urban,Own House,Credit Rating
0,1,1,8754.36,532339.56,No,Male,26,Married,4,0,0,6.6
1,2,0,9806.16,145273.56,No,Male,29,Single,3,1,0,7.2
2,3,1,12882.60,381205.68,No,Male,43,Single,4,0,1,4.1
3,4,1,6351.00,428453.88,No,Female,33,Divorced,1,0,0,9.2
4,5,1,9427.92,461562.00,No,Female,50,Married,5,0,1,9.3

In [13]:
Loan.shape

(10000, 12)

In [15]:
Loan.describe()

,Index,Employed,Bank Balance,Annual Salary,Age,Dependents,Urban,Own House,Credit Rating
count,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,5000.50000,0.705600,10024.498524,402203.782224,42.973400,3.000200,0.505300,0.498400,7.018920
std,2886.89568,0.455795,5804.579486,160039.674988,12.935997,1.415839,0.499997,0.500022,1.763426
min,1.00000,0.000000,0.000000,9263.640000,21.000000,1.000000,0.000000,0.000000,4.000000
25%,2500.75000,0.000000,5780.790000,256085.520000,32.000000,2.000000,0.000000,0.000000,5.500000
50%,5000.50000,1.000000,9883.620000,414631.740000,43.000000,3.000000,1.000000,0.000000,7.000000
75%,7500.25000,1.000000,13995.660000,525692.760000,54.000000,4.000000,1.000000,1.000000,8.500000
max,10000.00000,1.000000,31851.840000,882650.760000,65.000000,5.000000,1.000000,1.000000,10.000000

In [17]:
import warnings
warnings.filterwarnings('ignore')

In [18]:
%matplotlib inline

from pathlib import Path

import pandas as pd
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.neighbors import NearestNeighbors, KNeighborsClassifier
import matplotlib.pylab as plt

In [94]:
x=Loan[[ 'Bank Balance', 'Annual Salary', 'Age' , 'Credit Rating']].values
y=Loan[['Defaulted?']].values

In [95]:

x_train,x_test,y_train,y_test = train_test_split(x,y, test_size=0.2)

new_applicant = pd.DataFrame([{'Bank Balance':50000, 'Annual Salary':400000, 'Age':35 , 'Credit Rating':6.5 }])
new_applicant

   Bank Balance  Annual Salary  Age  Credit Rating
0         50000         400000   35            6.5

In [109]:
y_pred.shape

(1,)

In [96]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(x_train)
x_train = scaler.transform(x_train)
x_test = scaler.transform(x_test)

In [97]:
classifier = KNeighborsClassifier(n_neighbors=89)
classifier.fit(x_train,y_train)

KNeighborsClassifier(n_neighbors=89)

In [111]:
y_pred = classifier.predict(x_test)

In [112]:
y_pred

array(['No', 'No', 'No', ..., 'No', 'No', 'No'], dtype=object)

In [113]:

y_test

array([['No'],
       ['No'],
       ['No'],
       ...,
       ['No'],
       ['Yes'],
       ['No']], dtype=object)

In [114]:
Y_pred = classifier.predict(new_applicant)
Y_pred

array(['No'], dtype=object)

In [115]:
from sklearn.metrics import confusion_matrix

In [116]:
confusion_matrix(y_test,y_pred)

array([[1933,    0],
       [  67,    0]], dtype=int64)

In [118]:

from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test,y_pred))

Accuracy: 0.9665